body {
    background-color:#C9E2EF;
     font-family: Oswald  sans-serif;
  
  }
  
  .topnav{
    width: 100%;
    background-color:#F1B7B9;
    overflow: auto;
  }
  
  .topnav a {
    float: right;
    padding: 12px;
    color:#B4E1FF ;
    text-decoration: none;
    font-size: 19px;
  }
  
  .topnav a:hover {
    background-color: #FFE7E2
  }
  
  .active {
    background-color:#212121 ;
  }
  
  div.container{
      text-align:center;
      border: 1px solid white; }
  
  hr{
  align:center;
  }